<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
    <h1>Comment id: <%=id%></h1>
    <a style="margin-top: 2em; text-decoration: none; color: rgb(13, 132, 201);" href="/comments">See All Comments</a>
    <a style="margin-top:2em; text-decoration: none; margin-left: 2em; color: rgb(13, 132, 201);" href="/comments/<%=commen.id%>/edit">Edit Comment</a>
    <form method="POST" action="/comments/<%=commen.id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
</html>
